.headers{
    padding-top: 11px;
    color: #DE1B1B;
    background-color: #fff;
    font-family: 'Satisfy', cursive;
    font-weight: 600;
    font-size: 48px;
    padding-left: 14%;
    margin-bottom: 0%;
}


#showName{
    float: left;
}

.heading {
    display: block;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    padding: 15px;
    background-color: #fff;
}

.heading .menu {
    float: right;
    list-style: none;
    margin-top: 5px;
}

.menu > li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a {
    color: #898989;
}

/* Dropdown */

.dropdown-menu {
    font-size: 16px;
    margin-top: 5px;
    min-width: 105px;

}

.dropdown-menu li a {
    color: #898989;
    padding: 6px 20px;
    font-weight: 200;
    position: inherit;
}

html{
    background-color:#F6F6F6;
}