html {
    height:100%;
    width:100%;
	background-color:#F6F6F6;
}

body {
    background-color: transparent;
    height:90%;
    margin-right: 1em;
}

a:visited, a:link {
    text-decoration: none;
    border-color: darkgrey;
    /*color: #C5C5C5;*/
}

#logout {
    /*border-style: groove;*/
    position:absolute;
    right:10%;
    top:5%;

    height: 20px;
    width: 80px;
    text-align:center;
    align:left;
}

.themeButton {
    font-size: 15px;
    margin: 1% 1% 0 0;
    float:right;
    border-radius: 8px;
}

.bNotifications ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bNotifications ul li{
    margin-top: 2px;
}

.wrapper {
    height:90%;
    padding-left: 15%;
    padding-right: 15%;
}

.bNotifications {
    display:block;
    background: white;
    position: center;
    margin-top: 2em;
    height:30%;
    border-style: groove;
    overflow: auto;
    padding: 5px 10px 5px 10px;
}

.bFourBox {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    color: lightcoral;
    height: 50%;
}

.bFourBoxMini:hover{
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    background-color: lightgray;
}

.bFourBoxMini {
    background: white;
    font-size: 18px;
    font-weight: 600;
    width: 40%;
    height:100%;
    float:left;
    border-style: groove;
}

.bBoxesTextAlign {
    position: relative;
    color: black;
    top: 35%;
    left: 40%;
    width: 15%;

    /*
    text-align: center;
    vertical-align: middle;
    height: 100%;
    */
}

.bTextAlignRuta{
    position: relative;
    top: 35%;
    left: 0%;
    color: darkgrey;

}

.infoHeader{
    padding-top: 10%;
    padding-bottom: 10%;
    height: 15%;
}

.goBack{
    display:block;
    background: lightgray;
    color: black;
    position: center;
    border-style: groove;
    padding: 15px 20px 15px 20px;
    float:left;
}

.infoSearch{
    display:block;
    background: white;
    position: center;
    width: 50%;
    border-style: groove;
    overflow: auto;
    float:right;
    padding: 5px 10px 5px 10px;
}

.orders {
    display:block;
    background: white;
    position: center;
    height:50%;
    width: 30%;
    border-style: groove;
    overflow: auto;
    padding: 5px 10px 5px 10px;
    float: left;

}

.infoList {
    display:block;
    background: white;
    position: center;
    height:50%;
    width: 52%;
    border-style: groove;
    overflow: auto;
    float:right;
    font-size: 90%;
    /*padding: 5px 10px 5px 10px;*/
}

.infoList li{
    width: 100%;
    float:left;

}

.infoList p{
    margin-top: 0px;
    margin-right: 0px;
}

.infoList button{
    width: 20%;
    float:right;
    text-align:left;
}

.infoList ul {
    list-style-type: circle;

    margin: 0;
    padding: 0;

}

.infoList ul li {
    border-bottom: 1px solid black;
    background: #cce5ff;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#lightEdit ul {
    list-style-type: none;
}

#lightEdit li {
    border:0px;
}

#lightOrder ul {
    list-style-type: none;
}

#lightOrder li {
    border:0px;
}

.orders ul {
    list-style-type: circle;
    border: 1px solid black;
    margin: 5px 0px 0px 0px;
    padding: 0;
}

.orders ul li {
    list-style-type: none;
    background: #cce5ff;

}

#orderButton {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}

#cancel {
    border: 2px solid black;
    padding-left: 3px;
    font-size:29px;
    float: right;
}

input[type="text"] {
    width:25%;
}

input[name="username"] {
    width: inherit;
}

#removeIndexText {
    text-align:right;
    float: right;

}

#indexAlignMid{
    margin-left: 49%;

}

#lightButton {
    position:fixed;
    margin-left: 38%;

}

.leftBoxOrders{
    width: 50%;
    float:left;

}

.rightBoxOrders{
    width: 50%;
    float: right;
}